<% @bubbles.each do |bubble| %>
	<div>
	<%= bubble.id %>
	<%= bubble.name %>
	<%= bubble.metric.nil? ? "none" : bubble.metric.name %>
	<%= bubble.categories.empty? ? "empty" : bubble.categories[0].name %>
	</div>
<% end %>